<html>
	<head>
		<title>Blog Sylwii</title>
	</head>
	<body>
		<div>
			<h1><a href="">Minimalizm</a></h1>
			<p>published:28.05.2017</p>
			<h2>Od nadmiaru glowa boli!</h2>
			<p>Pierwszy w życiu blog powstały na ...</p>
		</div>

		<div>
			<p>published:28.05.2017</p>
			<h3><a href="">Wprowadzenie</a></h3>
		</div>

		<div>
			<h4>Punkt 1</h4>
			<h5>Punkt 2</h5>
			<h6>Punkt 3</h6>
			<em>tekst</em>
		</div>

	<br />
		<div>
			<a href="https://djangogirls.org">link do djangogirls!</a>
			<ul><li>pierwsza pozycja</li><li>druga pozycja</li></ul>
			<strong>text</strong>
		    <p>Hej!</p>
		    <p>Dziala jak natura chciala!</p>
   		</div>
    </body?
</html>